main {
  padding: 0 1.5rem 1.5rem;
}

main > h2 {
  font-size: 1.625rem;
  line-height: 1.9rem;
  font-weight: 400;
  text-align: center;
  margin-top: 11.375rem;
  margin-bottom: 5.125rem;
}

.content {
  max-width: 340px;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--gray);
  border-radius: 10px;
  margin: 0 auto;
  padding: 1.5rem 1.3rem;
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-content > div > p {
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
}

.title-content > div > strong {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

@media screen and (max-width: 720px) {
  main > h2 {
    margin-top: 6.375rem;
    margin-bottom: 5.125rem;
  }
}